/* ==========================================================================
   Your custom CSS styles
   ========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}



#container {
    display: flex;
    font-size: 30px;
    padding: 20px;
}

#texte {
    width: 50%;
    text-align: center;
}

#container1 {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

#smallTexte {
    width: 30%;
    transform: translateY(50%);
}


.petiteImage {
    height: 200px;
    margin: 10px;
}








/* ==========================================================================
   Your custom CSS styles for smartphones and screens smaller than 480 px
   ========================================================================== */

@media only screen and (max-width: 480px) {
    /* insert styles here */
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

/* Clearfix
 * Adding a 'clearfix' class will allow parent elements to contain a floated child element
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}