.input_rounded {
    border-radius: 25px;
    background-color: #F3F3F3;
    border: 1px black none;
}

.modal-content {
    border-radius: 35px !important;
    border-bottom-right-radius: 0 !important;
}

.fw-600{
    font-weight: 600;
}