/* ==========================================================================
   Your custom CSS styles
   ========================================================================== */

/* global style */

.body{
    color: black;
    font-size: 15px;
}

a {
    color: white;
    text-decoration: none;
}

h1{
    margin-bottom: 7px;
    margin-left: 20px
}

/* container */

.containerSocial{
    margin-left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    height: 100px;
    width: 95%;
    position: absolute;
    bottom: 65px;
    background-color: #ED354F;
    border-radius: 25px;
}

/* header */

.header{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 1vh;
    height: 80px;
    padding-left: 10px;
}

/* main */

.listVolunteer {
    margin: 60px auto;
    padding: 0;
    width: 300px;
    color: white;
}

.itemVolunteer {
    background-color: rgba(237, 53, 79, 0.5);
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 25px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #b9b9b9;
    color: #626262;
    border: 2px rgb(46, 46, 46) solid;
    width: 50px;
    height: 50px;
    margin-right: 12px;
}

.profile i {
    font-size: 35px;
}

.socialLink{
    margin: auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.itemSocial{
    border: white solid 2px;
    padding: 15px;
    border-radius: 9999px;
    font-size: 12px;
}

/* footer */

.footer-print {
    padding-top: 10px;
    bottom: 0;
    position: absolute;
    background-color: #FCBF31;
    border-radius: 4px 4px 0px 0px;
    min-width: 100vw;
    display: flex;
    padding: 5px 0px;
    height: 40px;
}

/* ==========================================================================
   Your custom CSS styles for smartphones and screens smaller than 480 px
   ========================================================================== */

@media only screen and (max-width: 480px) {
    /* insert styles here */
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

/* Clearfix
 * Adding a 'clearfix' class will allow parent elements to contain a floated child element
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
