.col-lg-4{
    background-color: #00004D;
}

.title{
    color: #FFFFFF;
}

.info{
    color: #FF5757;
}

.des{
    color: #F3F3F3;
}

.progress-bar{
    background-color: #FF5757 !important;
}